* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: #252525;
}

.calculator {

    display: grid;
    grid-template-columns: repeat(4, 200px);
    background-color: black;
}

.wrapper {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
}

.output-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 60px;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

button {
    cursor: pointer;
    background-color: #3e3e3e;
    width: auto;
    padding: 40px 60px;
    font-size: 30px;
    color: white;
}

button:hover {
    background-color: darkgray;
}

#devide,
#multiply,
#add,
#subtract {
    background-color: orange;
    color: #252525;
}

#devide:hover,
#multiply:hover,
#add:hover,
#subtract:hover {
    background-color: darkorange;
}